.donar-wrap{
   
    background-image:url(28487.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%
    
   
    
  }

  .user{
   
   
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%
    
   
    
  }
.donar-signup {
    width: 500px;
   
    margin-left: 600px ;
    padding: 55px  15px 30px 50px;
    background-color:rgba(0,0,0,0.85);
    border-radius: 25px;

}

@media (min-height: 500px) {
    .donar-signup {
    width:250px;
    margin-top:50px;
    margin-left: 12px ;
   
     
    }
  }

  
